################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
*.user
bin
obj
packages*.scc
/.vs
/packages
/API/Logs/*.txt
!.gitkeep
